.left-menu-icon {
    position: absolute;
    left: 2vw;
    top: 10px;
    font-size: 24px;
    color: rgb(81, 151, 255);
    z-index: 999;
}

.left-menu-container {
    position: absolute;
    height: 100vh;
    background-color: rgb(81, 151, 255);
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(81, 151, 255);
    overflow-y: auto;
    overflow-x: hidden;

    width: 0px;
    min-width: 0px;
    top: -150vh;
}

.left-menu-container::-webkit-scrollbar {
    background-color: rgb(81, 151, 255);
    width: 2px;
}

.left-menu-container::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #fff;
}

.left-menu-container-icon {
    text-align: right;
}

.glyphicon-menu-left::before {
    right: 10px;
    font-size: larger;
    color: white;
    position: relative;
}

/* container  animation start*/
.show-menu-container {
    padding-top: 10px;
    animation: show-menu-container-keyframe .5s ease-in 0s 1;
    animation-fill-mode: forwards;
}

@keyframes show-menu-container-keyframe {
    0% {
        /* left: -17vw;
        top: -150vh; */
        width: 0px;
        min-width: 0px;
        top: -150vh
    }

    1% {
        /* left: -17vw;
        top: 0px; */
        width: 0px;
        min-width: 0px;
        top: 0vh
    }

    100% {
        /* left: 0px;
        top: 0px */
        width: 16vw;
        min-width: 300px;
        top: 0vh
    }
}

.hiden-menu-container {
    padding-top: 10px;
    animation: hiden-menu-container-keyframe .6s ease-in 0s 1;
    animation-fill-mode: forwards;
}

@keyframes hiden-menu-container-keyframe {
    0% {
        /* left: 0px; */
        width: 16vw;
        min-width: 300px;
        top: 0px
    }

    99% {
        /* left: -17vw;
        top: 0px; */
        width: 0px;
        min-width: 0px;
        top: 0px
    }

    100% {
        /* top: -150vh */
        width: 0px;
        min-width: 0px;
        top: -150vh
    }
}

/* container  animation end */

/* menu icon animation start */
.hiden-menu-icon {
    left: 10px;
    animation: hiden-menu-icon-keyframe .3s ease-in 0s 1;
    animation-fill-mode: forwards;
}

@keyframes hiden-menu-icon-keyframe {
    0% {
        left: 10px;
    }

    100% {
        left: -50px;
    }
}



.show-menu-icon {
    left: 10px;
    animation: show-menu-icon-keyframe .3s ease-in 0s 1;
    animation-fill-mode: forwards;
}

@keyframes show-menu-icon-keyframe {
    0% {
        left: -50px;
    }

    100% {
        left: 10px;
    }
}

/* menu icon animation end */


.left-menu-container-shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .4;
    z-index: 400;
}

.line {
    background-color: transparent;
    border-top: 1px solid #fff;
    margin-bottom: 10px;
}

.menu-year-list {
    margin-top: 50px;
}

.menu-year-list>.menu-year>.year {
    font-size: larger;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    cursor: default;
    z-index: 999;
}

.menu-year-list>.menu-year>.year>span {
    padding-right: 5px;
}

.menu-year-list>.menu-year>.album-list {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(102, 94, 94, 0.5);
    padding-left: 25px;
    width: 100%;
}

.menu-year-list>.menu-year>.album-list>.album {
    cursor: default;
}

/* album list animation start */
.show-album-list {
    animation: show-album-list-keyframe .5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}

@keyframes show-album-list-keyframe {
    0% {
        height: 0vh;
        opacity: 0;
        padding-top: 0px;
        width: 0;
        left: -17vw;
        position: absolute;
    }

    100% {
        height: auto;
        opacity: 1;
        padding-top: 10px;
        width: auto;
        left: auto;
        position: relative;
    }
}

.hiden-album-list {
    animation: hiden-album-list-keyframe .5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}

@keyframes hiden-album-list-keyframe {
    0% {
        height: auto;
        opacity: 1;
        padding-top: 10px;
        width: auto;
        left: auto;
        position: relative;
    }

    100% {
        height: 0vh;
        opacity: 0;
        padding-top: 0px;
        width: 0;
        left: -17vw;
        position: absolute;
    }
}

/* album list animation end */